body {
    background: linear-gradient(to bottom, #4abdac, #fff);
}

.container {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.list-container {
    margin-top: 20px;
}

li {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.emoji {
    margin-right: 10px;
}

.category {
    padding: 2px 5px;
}